.about-me {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    letter-spacing: 4px;
}

.about-me iframe {
    margin: 40px 0;
}

.about-me .about-me-text {
    display: flex;
    margin-left: 60px;
    align-items: center;
}

.about-me .about-me-text {
    color: red;
    font-size: 30px;
    margin-top: 30px;
}

.map1 {
    width: 800px;
    height: 600px;
}

@media screen and (max-width:820px) {
    .map1 {
        display: flex;
        width: 600px;
        height: 450px;
    }
}

@media screen and (max-width:620px) {
    .map1 {
        display: flex;
        width: 400px;
        height: 300px;
    }
}