.nav-links .here {
    background: red;
}

.interests {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-interests {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(178, 192, 194);
    height: 50vh;
    width: 80vw;
}

.my-interests .left-side {
    border-right: 4px solid rgb(102, 4, 116);
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,1)) ,url(./img/img-left.jpeg);
}

.my-interests .left-side h1 {
    align-self: center;
    color: white;
}

.my-interests .right-side {
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,1)) ,url(./img/img-right.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.my-interests .right-side h1 {
    color: black;
    align-self: center;
}

@media screen and (max-width:452px) {
    .my-interests .right-side h1 {
        font-size: 20px;
    }

    .my-interests .left-side h1 {
        font-size: 20px;
    }
}

